.jfx-button {
    -fx-background-color: #022D5A;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 15.0;
}

.jfx-cancel-button {
    -fx-background-color: #770400;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 15.0;
}

.unhiglight {
    -fx-border-color: transparent;
}

.jfx-text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.jfx-text-field:focused {
    -fx-background-color: yellow , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.highlight {
    -fx-border-color: #ffe138;
    -fx-border-radius: 25.0;
    -fx-border-style: solid;
    -fx-border-width: 3.0;
}

.titled-pane
{
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: #022D5A;
}
.titled-pane:focused
{
    -fx-text-fill: white;
}
.titled-pane > .title
{
    -fx-background-color: #022D5A, #022D5A, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 5 5, 4 4 4 4, 3 3 3 3;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title
{
    -fx-color: #022D5A;
}

.titled-pane > .title > .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}



.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: white;
}